Source: rfimasker
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>= 9), dh-python, python-all, python-setuptools, python-numpy
Standards-Version: 3.9.6
Homepage: https://github.com/bennahugo/RFIMasker
Vcs-Git: git://github.com/kernsuite-debian/rfimasker.git
Vcs-Browser: https://github.com/kernsuite-debian/rfimasker
X-Python-Version: >= 2.7

Package: python-rfimasker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-numpy, python-casacore
Description: Tool to apply RFI masks

Package: rfimasker
Architecture: any
Depends: python-rfimasker
Description: Tool to apply RFI masks
